@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:rgb(208, 27, 90);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading_1{
  text-align: center;
  padding:2.5rem 0
}
.heading_2{
  text-align: center;
  padding:2.5rem 0
}
.heading_3{
  text-align: center;
  padding:2.5rem 0
}
.heading_4{
  text-align: center;
  padding:2.5rem 0
}
.heading_5{
  text-align: center;
  padding:2.5rem 0
}
.heading_1 span{
  font-size: 3.5rem;
  background:rgba(189, 184, 37, 0.5);
  color:rgba(255, 255, 255, 0.945);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.heading_2 span{
  font-size: 3.5rem;
  background:rgba(73, 50, 15, 0.597);
  color:rgba(255, 255, 255, 0.945);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.heading_3 span{
  font-size: 3.5rem;
  background:rgba(135, 134, 134, 0.508);
  color:rgba(255, 255, 255, 0.945);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.heading_4 span{
  font-size: 3.5rem;
  background:rgba(250, 122, 36, 0.508);
  color:rgba(255, 255, 255, 0.945);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.heading_5 span{
  font-size: 3.5rem;
  background:rgba(40, 7, 68, 0.508);
  color:rgba(255, 255, 255, 0.945);
  border-radius: .5rem;
  padding:.2rem 1rem;
}
.heading_1,.heading_2,.heading_3,.heading_4,.heading_5 span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color: rgb(0, 0, 0);
}

header{
  height:90px;
  position: fixed;
  top:0; left: 0; right:0;
  background:rgb(0, 0, 0);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header .logo{
  display: inline;
  height: 75px;
  width: 75px;
  margin-bottom: 5px;
  margin-left: 15px;

}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons a{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:rgb(0, 0, 0);
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:rgb(0, 0, 0);
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}
#quote{
  font-size:18px;

  
}

.payment-gateway{
  display: none;
  position: fixed; 
  z-index: 1;
  padding: 0;
  left: 0;
  top: 50px ;
  width: 90%; 
  height: 90%; 
  overflow: auto; 
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  font-size: medium;
}
.payment-gateway .row_1 {
  display: flex;
  flex-wrap: wrap;

  margin: 50px;
  padding:50px;
width:100%;
 
}



.payment-gateway .col-50 {
  padding: 0 16px;
  flex: 50%;
}

.payment-gateway .col-75 {
  padding: 0 16px;
  flex: 75%;
}


.payment-gateway .container_1 {
  color:rgb(255, 255, 255);
  border: 1px solid rgb(208, 27, 90);
  background-color: #000000c5;
  padding: 50px; 
 
}

.payment-gateway input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(204, 204, 204, 0.63);
  border-radius: 3px;
}

.payment-gateway label {
  margin-bottom: 10px;
  display: block;
}

.payment-gateway .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.payment-gateway .btn {
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.payment-gateway .book-btn:hover {
  background-color: #fdfdfd;
}

.payment-gateway a {
  color: rgb(208, 27, 90);
}

.payment-gateway hr {
  border: 1px solid lightgrey;
}

.payment-gateway span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row_1 {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container video{
  background-attachment:scroll ;
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:var(--orange);
}
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .video{
  flex:1 1 40rem;
 
}


.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}
.book .row form .book-btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
  
}
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:4rem;
}

.packages .box-container .box{
    flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.233);
background:rgba(0, 0, 0, 0.199);}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:rgb(208, 27, 90);
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color:rgb(255, 255, 255);
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:rgb(187, 187, 187);
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:rgb(179, 179, 179);
  font-size: 1.5rem;
  text-decoration: line-through;
}
.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color: rgb(216, 116, 40);
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:rgb(255, 255, 255);
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:rgb(235, 235, 235);
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.404);
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid rgba(255, 255, 255, 0.349);
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 35rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:0; left:-100%;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  left:0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:var(--orange);
}

.gallery .box-container .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
}
.parallax_1 {
  min-height: 500px;
    background-image: url("images/15.png");
    background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}
.parallax_2 {
  min-height: 500px;
    background-image: url("images/14.jpg");
    background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}

.parallax_3 {
  min-height: 500px;
  background-image: url("images/A-1.png");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}
.parallax_4 {
  min-height: 500px;
    background-image: url("images/12.jpg");
    background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}
.parallax_5 {
  min-height: 500px;
   background-image: url("images/1.png");
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}
.about .box{
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.61);
  border-radius: .5rem;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  
}
.review .review-slider{
  padding-bottom: 2rem;
}

.review .box{
  height:450px;
  background-color:rgba(255, 255, 255, 0.795);
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.459);
  border-radius: .5rem;
}

.review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color:rgb(29, 28, 28);
  font-size: 2.5rem;
}

.review .box p{
  color:rgb(41, 36, 36);
  font-size: 1.35rem;
  padding:1rem 0;
}

.review .box .stars i{
  color:var(--orange);
  font-size: 1.7rem;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

.brand-container{
  text-align: center;
}


/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: rgb(0, 0, 0);
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:rgb(0, 0, 0);
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}
.footer{
    width: 100%;
    position:relative;
    bottom: 0;
    color:#fff;
    padding: 100px 0 30px;
   
    font-size: 13px;
    line-height: 20px;
    margin-top: auto;
  background:rgb(0, 0, 0);
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  
}
.footer .box-container .box p:hover{
  color:var(--orange);
  
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}
.social-icons i:hover{
  color:var(--orange);
  
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin:20px auto;

}
.copyright{
    text-align: center;

}
.made{
    text-align: center;
}
.made{
    text-align: center;
}
.made p:hover{
    color:var(--orange);
}
.underline{
width: 100%;
height: 5px;
background:rgb(0, 0, 0);
border-radius: 3px;
position: relative;
top: 25px;
left: 0;
overflow: hidden;
}

.underline span{
    width: 35px;
    height: 100%;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left: -10px;

    }
    100%{
        left: 100%;
        
    }
}


@media (max-width:700px){
    footer{
        bottom: unset;  
    }
    .col{
        flex-basis: 100%;
       
    }
    .col:nth-child(2),.col:nth-child(3){
        flex-basis: 100%;
    
    }}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }
}

